<script>
    document.getElementById('_pushState').addEventListener('hy-push-state-start', function() {
        console.log('hy-push-state-start');
    });
    document.getElementById('_pushState').addEventListener('hy-push-state-ready', function() {
        console.log('hy-push-state-ready');
    });
    document.getElementById('_pushState').addEventListener('hy-push-state-after', function() {
        console.log('hy-push-state-after');
    });
    document.getElementById('_pushState').addEventListener('hy-push-state-progress', function() {
        console.log('hy-push-state-progress');
    });
    document.getElementById('_pushState').addEventListener('hy-push-state-load', function() {
        console.log('hy-push-state-load');
    });
</script>
