<script>
    document.getElementById('_pushState').addEventListener('hy-push-state-start', function() {
        console.log('hy-push-state-start');
        // <your init code>
    });
    document.getElementById('_pushState').addEventListener('hy-push-state-ready', function() {
        console.log('hy-push-state-ready');
        // <your init code>
    });
    document.getElementById('_pushState').addEventListener('hy-push-state-after', function() {
        console.log('hy-push-state-after');
        // <your init code>
    });
    document.getElementById('_pushState').addEventListener('hy-push-state-progress', function() {
        console.log('hy-push-state-progress');
        // <your init code>
    });
    document.getElementById('_pushState').addEventListener('hy-push-state-load', function() {
        console.log('hy-push-state-load');
        // <your init code>
    });
</script>
