@import "../styles/variables";

@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}