$color-light-1: #F5F6F4;
$color-light-2: #E0E2DB;
$color-light-3: #D2D4C8;
$color-dark-1:  #30321C;
$color-accent-1: #C585B3;
$color-accent-2: #BC69AA;

$color-logo-1: #756d75;
$color-logo-2: #c586b3;

// TODO - adjust colors
// TODO - fix small resolution screens