---
import { getColors } from '../utils/General.utils';

export interface Props {
	light: boolean;
}

const { light } = Astro.props;
const { foregroundColor, backgroundColor } = getColors(light);
---

<div class="page">
	Light: {light}
	foregroundColor, backgroundColor: {foregroundColor} {backgroundColor}
	<slot />
</div>

<style lang="scss" define:vars={{ foregroundColor, backgroundColor }}>
	@import "../styles/global";

	.page {
		background-color: var(--backgroundColor);
		color: var(--foregroundColor);
	}
</style>
